@font-face {
  font-family: EuclidSquare-Light;
  src: url(../fonts/EuclidSquare-Light.woff2) format("woff2"),url(../fonts/EuclidSquare-Light.woff) format("woff")
}
@font-face {
  font-family: EuclidSquare-Regular;
  src: url(../fonts/EuclidSquare-Regular.woff2) format("woff2"),url(../fonts/EuclidSquare-Regular.woff) format("woff")
}
@font-face {
  font-family: EuclidSquare-Medium;
  src: url(../fonts/EuclidSquare-Medium.woff2) format("woff2"),url(../fonts/EuclidSquare-Medium.woff) format("woff")
}
@font-face {
  font-family: EuclidSquare-SemiBold;
  src: url(../fonts/EuclidSquare-SemiBold.woff2) format("woff2"),url(../fonts/EuclidSquare-SemiBold.woff) format("woff")
}
@font-face {
  font-family: EuclidSquare-Bold;
  src: url(../fonts/EuclidSquare-Bold.woff2) format("woff2"),url(../fonts/EuclidSquare-Bold.woff) format("woff")
}