.compensate-for-scrollbar {
  padding-right: 0!important
}
section {
  position: relative
}
button {
  padding: 0;
  border: none;
  background: 0 0
}
h1,
h2,
h3,
h4,
p {
  margin: 0
}
ul {
  margin: 0;
  padding: 0
}
li {
  list-style-type: none
}
a {
  text-decoration: none;
  color: #000;
  display: block
}
a:active,
a:hover {
  color: #000
}
a,
button,
input,
textarea {
  outline: 0
}
input,
select,
textarea {
  border-radius: 0
}
strong {
  font-family: EuclidSquare-Bold
}
h2 {
  font: 26px/33px EuclidSquare-Bold;
  letter-spacing: .3em;
  text-transform: uppercase
}
h3 {
  text-transform: uppercase;
  font-family: EuclidSquare-Bold
}
.container {
  max-width: 1440px;
  padding: 0
}
.row {
  margin: 0
}
.col {
  padding: 0
}
.fitCover {
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.fitContain {
  position: relative;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%
}
.dec {
  position: absolute
}
.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
form {
  width: 100%
}
input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0
}
input[type=email],
input[type=text],
textarea {
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 10px 20px;
  font: 16px/18px EuclidSquare-Light
}
textarea {
  resize: none;
  height: 40px
}
select {
  border: 1px solid #000;
  width: 100%;
  height: 50px;
  font: 14px/18px EuclidSquare-Regular;
  padding-left: 13%;
  padding-right: 25%;
  outline: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowap;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/select.svg);
  background-repeat: no-repeat;
  background-position: 90% center
}
.button {
  font-size: 12px;
  line-height: 15px;
  background: #000;
  padding: 10px 40px;
  color: #fff
}
.button:hover {
  color: #fff
}
.button.white {
  background: #fff;
  color: #000
}
.next,
.prev {
  outline: 0
}
.isMobile {
  display: none
}
.adaptHeightInner {
  position: relative;
  height: 0;
  border: none
}
.adaptHeightContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
.leftCol,
.rightCol {
  height: 100%;
  position: relative
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.sideTitle {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.sideTitle p {
  font-family: EuclidSquare-Bold;
  text-transform: lowercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.sideTitle p::after {
  content: '';
  width: 111px;
  height: 3px;
  background: #000;
  margin-left: 40px
}
.showreelButton {
  width: 307px;
  height: 89px;
  border: 1px solid rgba(255,255,255,.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 215px
}
.showreelButton p {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: .3em;
  text-transform: uppercase;
  color: #fff;
  margin-right: 53px
}
.showreelButton p strong {
  display: block
}
body,
html {
  max-width: 100%;
  overflow-x: hidden
}
body {
  font-family: EuclidSquare-Regular;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 20px
}
.topMenu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: -100vh;
  opacity: 0;
  background-color: #fff;
  background-image: url(../img/menu-bg.svg);
  -webkit-transition: top .3s ease-out,opacity .2s;
  -o-transition: top .3s ease-out,opacity .2s;
  transition: top .3s ease-out,opacity .2s
}
.topMenu.active {
  opacity: 1
}
#menu .wrapper {
  padding: 158px 0 74px
}
#menu .upperSide {
  margin-bottom: 70px
}
#menu .upperSide nav ul li:not(:last-child) {
  margin-bottom: 40px
}
#menu .upperSide nav ul li a {
  font: 22px/28px EuclidSquare-Bold;
  letter-spacing: .3em;
  text-transform: uppercase
}
#menu .lowerSide nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#menu .lowerSide nav ul li:not(:last-child) {
  margin-right: 169px
}
#menu .lowerSide nav ul li a {
  text-decoration: underline
}
#feedback .wrapper {
  padding: 163px 0 143px
}
#feedback .wrapper .title {
  max-width: 600px;
  margin-bottom: 50px
}
#feedback .wrapper .title h3 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: .3em;
  margin-bottom: 50px
}
#feedback .wrapper .title p {
  font-size: 14px;
  line-height: 18px
}
#feedback .wrapper form .upperSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px
}
#feedback .wrapper form .upperSide .formGroup {
  width: 360px
}
#feedback .wrapper form .lowerSide {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#feedback .wrapper form .lowerSide p {
  font: 12px/15px EuclidSquare-Light;
  margin-left: 97px
}
#feedback .wrapper form .lowerSide a {
  text-decoration: underline
}
.underline {
  position: relative;
  padding: 6px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}
.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #796a63
}
.secTitle {
  padding-top: 200px;
  padding-bottom: 80px
}
.secTitle .bgImage {
  display: none;
  position: absolute;
  left: 0;
  right: 50%;
  top: 150px;
  bottom: 0;
  overflow: hidden
}
.secTitle .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative
}
.secTitle .title h1 {
  font: 26px/33px EuclidSquare-Bold;
  letter-spacing: .3em;
  text-transform: uppercase
}
.secTitle .title > p {
  margin-top: 10px
}
.secTitle .title .description {
  width: 60%
}
.secTitle .title .description h2 {
  font: 20px/25px EuclidSquare-Bold;
  letter-spacing: .1em;
  margin-bottom: 40px
}
.secTitle .title .description p:not(:last-child) {
  margin-bottom: 50px
}
.secTitle .title .description a {
  margin-top: 44px
}
#feedbackBtn {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s
}
#feedbackBtn.active {
  opacity: 0;
  pointer-events: none
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  background: 0 0;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s
}
header.active {
  background: #fff
}
header > .container .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 2.9%
}
header .logo {
  position: relative
}
header .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 100px;
  position: relative
}
header .contacts .phone {
  margin-right: 60px
}
header .contacts .phone a {
  letter-spacing: .1em
}
header #menuButton {
  position: relative;
  width: 101px;
  height: 35px
}
header #menuButton.active .menuBtn.opened {
  opacity: 1
}
header #menuButton.active .menuBtn.closed {
  opacity: 0
}
header #menuButton .menuBtn {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s
}
header #menuButton .menuBtn.opened {
  opacity: 0
}
header #menuButton .menuBtn p {
  margin-right: 16px;
  letter-spacing: .1em
}
header #menuButton .menuBtn .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#title {
  margin-top: 123px
}
#title .leftCol .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 295px;
  margin: 0 auto
}
#title .leftCol .social .item {
  letter-spacing: .1em;
  text-transform: lowercase;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#title .leftCol .social .item:not(:last-child) {
  margin-right: 80px
}
#title .leftCol .social .item svg {
  margin-right: 15px
}
#title .rightCol {
  width: 100%
}
#title .rightCol svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 265px;
  margin: 0 auto
}
#title .contentCol .titleHeight {
  padding-top: 64%
}
#title .contentCol .wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#title .contentCol .wrapper .title {
  position: relative;
  color: #fff;
  text-transform: uppercase
}
#title .contentCol .wrapper .title h1 {
  font: 16px/150% EuclidSquare-Light;
  letter-spacing: .3em;
  margin-bottom: 20px
}
#title .contentCol .wrapper .title > p {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: .3em;
  text-transform: uppercase
}
#title .contentCol .wrapper .title > p strong {
  font-size: 28px;
  display: block
}
#advantages {
  margin-top: 110px;
  padding-bottom: 90px
}
#advantages::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -315px;
  background: #e2e2e2;
  z-index: -1
}
#advantages .sideTitle {
  top: 218px
}
#advantages .title {
  padding-left: 50px;
  margin-bottom: 70px
}
#advantages .advantages {
  position: relative
}
#advantages .advantages .row {
  margin: 0 -5px
}
#advantages .advantages .col {
  padding: 0 5px
}
#advantages .advantages .item {
  width: 100%;
  padding-top: 86%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px
}
#advantages .advantages .item.active .mask {
  opacity: 1
}
#advantages .advantages .item .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left bottom,left top,from(rgba(121,106,99,.9)),to(rgba(121,106,99,.9)));
  background: -o-linear-gradient(bottom,rgba(121,106,99,.9),rgba(121,106,99,.9));
  background: linear-gradient(0deg,rgba(121,106,99,.9),rgba(121,106,99,.9));
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}
#advantages .advantages .item .text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #fff;
  padding: 0 35px 30px;
  -webkit-transition: bottom .3s ease;
  -o-transition: bottom .3s ease;
  transition: bottom .3s ease
}
#advantages .advantages .item .text h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .15em;
  position: absolute;
  top: -50px;
  left: 30px;
  right: 30px
}
#advantages .advantages .item .text p {
  font-size: 14px;
  line-height: 18px
}
#projects {
  margin-top: 110px
}
#projects .titleContainer {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
#projects .titleContainer .title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
#projects .titleContainer .title h2::after {
  content: '';
  height: 3px;
  width: 103px;
  background: #000;
  margin-top: 15px;
  margin-left: 54px
}
#projects .titleContainer .projectsTitleSlider {
  margin-left: 54px
}
#projects .titleContainer .projectsTitleSlider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#projects .titleContainer .projectsTitleSlider .item .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 25%
}
#projects .titleContainer .projectsTitleSlider .item .name::after {
  content: '';
  height: 3px;
  width: 103px;
  background: #000;
  margin-top: 15px;
  margin-left: 54px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
#projects .titleContainer .projectsTitleSlider .item .material {
  margin-left: 54px;
  padding-top: 5px;
  max-width: 24%
}
#projects .titleContainer .projectsTitleSlider .item .material h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .1em;
  text-transform: none
}
#projects .sideTitle {
  z-index: 2
}
#projects .sliderContainer {
  width: 100%;
  position: relative
}
#projects .sliderContainer .navigation {
  width: 152px;
  height: 76px;
  position: absolute;
  left: 840px;
  top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2
}
#projects .sliderContainer .navigation .next,
#projects .sliderContainer .navigation .prev {
  width: calc(50% + 1px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #000;
  background: #fff
}
#projects .sliderContainer .navigation .next {
  margin-left: -2px
}
#projects .sliderContainer .swiper-slide {
  width: 830px;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s
}
#projects .sliderContainer .swiper-slide .item img {
  width: 386px;
  height: 270px
}
#projects .sliderContainer .swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-active) {
  opacity: 0
}
#projects .sliderContainer .swiper-slide:not(.swiper-slide-active) {
  cursor: pointer
}
#projects .sliderContainer .swiper-slide:not(.swiper-slide-active) .item {
  pointer-events: none
}
#projects .sliderContainer .swiper-slide-active .item img {
  width: 100%;
  height: 100%
}
#projects .sliderContainer .swiper-slide-prev {
  opacity: .5
}
#projects .sliderContainer .swiper-slide-prev .item {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
#projects .sliderContainer .swiper-slide-prev .item img {
  height: 270px;
  width: 386px
}
#projects .sliderContainer .swiper-slide-next {
  opacity: .5
}
#projects .sliderContainer .swiper-slide-next .item img {
  height: 430px;
  width: 620px
}
#projects .sliderContainer .item {
  width: 100%;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden
}
#projects .sliderContainer .item img {
  -webkit-transition: width .5s,height .5s;
  -o-transition: width .5s,height .5s;
  transition: width .5s,height .5s
}
#use {
  margin-top: 110px
}
#use .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px
}
#use .title h2 {
  margin-right: 115px
}
#use .title .description p {
  font-size: 14px;
  line-height: 18px
}
#use .title .description a {
  margin-top: 50px;
  text-decoration: underline
}
#use .use {
  padding: 100px 0 90px 120px;
  position: relative
}
#use .use::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: -200%;
  background: #e2e2e2
}
#use .use .row {
  margin: 0 -5px
}
#use .use .col {
  padding: 0 5px
}
#use .use .adaptHeightInner {
  padding-top: 85%;
  margin-bottom: 10px
}
#use .use .item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#use .use .item h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: .15em;
  position: relative;
  text-align: center
}
#collections {
  margin-top: 100px
}
#collections .title {
  margin-bottom: 90px
}
#collections .collections .row {
  margin: 0 -5px
}
#collections .collections .col {
  padding: 0 5px
}
#collections .collections .adaptHeightInner {
  padding-top: 150%
}
#collections .collections .item {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
#collections .collections .item .text {
  padding: 60px;
  position: relative
}
#collections .collections .item .text h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .2em;
  margin-bottom: 60px
}
#contacts {
  margin-top: 110px
}
#contacts .title {
  margin-bottom: 70px
}
#contacts .contacts {
  position: relative;
  padding: 100px 0 0 10%
}
#contacts .contacts::before {
  content: '';
  position: absolute;
  left: 0;
  right: -200%;
  bottom: 0;
  top: 0;
  background: #e2e2e2
}
#contacts .contacts .upperSide {
  position: relative;
  padding-bottom: 100px;
  border-bottom: 1px solid #796a63
}
#contacts .contacts .upperSide .rowItem:not(:last-child) {
  margin-bottom: 80px
}
#contacts .contacts .upperSide .rowItem .col:not(:first-child) .item {
  padding-left: 20%
}
#contacts .contacts .upperSide .rowItem h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .05em;
  margin-bottom: 40px
}
#contacts .contacts .upperSide .rowItem .item {
  max-width: 85%
}
#contacts .contacts .upperSide .rowItem .item strong {
  font-family: EuclidSquare-SemiBold
}
#contacts .contacts .footer {
  position: relative;
  padding: 60px 8% 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
#contacts .contacts .footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#contacts .contacts .footer nav ul li:not(:last-child) {
  margin-right: 90px
}
#contacts .contacts .footer nav ul li a {
  padding: 6px 0;
  position: relative
}
#contacts .contacts .footer nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #796a63
}
#contacts .contacts .footer .copyright p {
  font-size: 14px;
  line-height: 18px
}
#materials {
  margin-bottom: 120px
}
#materials .leftCol .sideTitle {
  top: 180px!important
}
#materials .materials {
  padding: 60px 0 95px;
  position: relative
}
#materials .materials::before {
  content: '';
  background: #e2e2e2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300%;
  right: 40%;
  z-index: -1
}
#materials .materials .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0 4px 20px rgba(122, 121, 121, .3));
  filter: drop-shadow(0 4px 20px rgba(122, 121, 121, .3))
}
#materials .materials .item:not(:last-child) {
  margin-bottom: 60px
}
#materials .materials .item .text {
  width: 40%;
  padding: 15px 40px 0 50px
}
#materials .materials .item .text .title {
  padding: 20px 0;
  position: relative;
  margin-bottom: 40px
}
#materials .materials .item .text .title::after {
  content: '';
  height: 2px;
  width: 127%;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1
}
#materials .materials .item .text .title h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .2em;
  padding-left: 13px
}
#materials .materials .item .text .features {
  margin-bottom: 40px
}
#materials .materials .item .text .features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
#materials .materials .item .text .features ul li {
  font-family: EuclidSquare-Medium;
  letter-spacing: .15em;
  text-transform: lowercase;
  padding-right: 4px
}
#materials .materials .item .text .features ul li:not(:last-child)::after {
  content: '/';
  margin-left: 4px
}
#materials .materials .item .text p {
  font-size: 14px;
  line-height: 18px
}
#materials .materials .item .image {
  width: 60%
}
#materials .materials .item .image .adaptHeightInner {
  padding-top: 42%
}
#aboutTitle::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -300px;
  background-image: url(../img/menu-bg.svg)
}
#about .adaptHeightInner {
  padding-top: 53%
}
#about .about .showreelButton {
  margin-top: 0;
  position: absolute;
  bottom: 100px;
  left: 100px
}
#aboutFeatures {
  margin-top: 100px
}
#aboutFeatures .adaptHeightInner {
  padding-bottom: 166%
}
#aboutFeatures .imageContainer {
  position: relative;
  min-height: 795px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
#aboutFeatures .imageContainer .text {
  max-width: 240px;
  position: relative;
  text-align: center;
  color: #fff
}
#aboutFeatures .imageContainer .text h4 {
  font: 20px/24px EuclidSquare-Bold;
  letter-spacing: .2em;
  text-transform: uppercase
}
#aboutFeatures .imageContainer .text p {
  margin-top: 70px;
  font-size: 14px;
  line-height: 18px
}
#aboutFeatures .imageContainer .text button {
  margin-top: 90px
}
#aboutFeatures .aboutFeatures h2 {
  letter-spacing: .2em
}
#aboutFeatures .aboutFeatures .features {
  margin-top: 80px
}
#aboutFeatures .aboutFeatures .features .row {
  margin: 0 -40px
}
#aboutFeatures .aboutFeatures .features .col {
  padding: 0 40px
}
#aboutFeatures .aboutFeatures .features .item {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#aboutFeatures .aboutFeatures .features .item .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  margin-right: 35px
}
#aboutFeatures .aboutFeatures .features .item .text h3 {
  font-size: 18px;
  line-height: 23px
}
#aboutFeatures .aboutFeatures .features .item .text p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px
}
#aboutFormat {
  margin-top: 100px
}
#aboutFormat .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
#aboutFormat .titleContainer .title {
  padding-right: 40px
}
#aboutFormat .titleContainer .title h2 {
  letter-spacing: .2em
}
#aboutFormat .titleContainer .description {
  width: 60%
}
#aboutFormat .aboutTable {
  width: 100%;
  border: 1px solid #796a63;
  margin-top: 50px
}
#aboutFormat .aboutTable .col:not(:last-child) .item {
  border-right: 1px solid #796a63
}
#aboutFormat .aboutTable .item {
  height: 100%;
  padding: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#aboutFormat .aboutTable .item .icon {
  width: 43px;
  height: 30px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 8%
}
#aboutFormat .aboutTable .item .text h4 {
  font: 16px/20px EuclidSquare-Bold;
  margin-bottom: 20px
}
#aboutFormat .aboutTable .item .text p {
  font-size: 14px;
  line-height: 18px
}
#aboutFormat .buttonContainer {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
#aboutOffer {
  margin-top: 75px;
  padding: 80px 0 110px
}
#aboutOffer::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/about-offer-bg.png);
  z-index: -1
}
#aboutOffer .title {
  margin-bottom: 65px
}
#aboutOffer .description p:not(:last-child) {
  margin-bottom: 20px
}
#aboutOffer .description .feedbackBtn {
  cursor: pointer;
  text-decoration: underline
}
#materialTitle {
  padding-bottom: 110px
}
#materialTitle .bgImage {
  display: block;
  -webkit-filter: drop-shadow(0 4px 20px rgba(122, 121, 121, .3));
  filter: drop-shadow(0 4px 20px rgba(122, 121, 121, .3))
}
#materialTitle .title h1 {
  max-width: 230px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative
}
#materialTitle .title h1::after {
  content: '';
  width: 120px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 16px;
  left: calc(100% + 70px)
}
#materialColors {
  margin-top: 80px
}
#materialColors .leftCol .sideTitle {
  top: 85px!important
}
#materialColors .colors .row {
  margin: 0 -10px
}
#materialColors .colors .col {
  padding: 0 10px
}
#materialColors .colors .adaptHeightInner {
  padding-top: 67%
}
#materialColors .colors .item {
  margin-bottom: 50px
}
#materialColors .colors .item .image {
  width: 100%;
  height: 100%
}
#materialColors .colors .item h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  margin-top: 16px
}
#materialFinishing {
  margin-top: 30px
}
#materialFinishing .wrapper {
  padding: 70px 0 72px;
  position: relative
}
#materialFinishing .wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -200%;
  left: 8.333333%;
  background: #e2e2e2;
  z-index: -1
}
#materialFinishing .wrapper .description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
#materialFinishing .wrapper .description p {
  font-size: 14px;
  line-height: 18px
}
#materialFinishing .wrapper .finishing {
  margin-top: 70px
}
#materialFinishing .wrapper .finishing .row {
  margin: 0 -10px
}
#materialFinishing .wrapper .finishing .col {
  padding: 0 10px
}
#materialFinishing .wrapper .finishing .item {
  text-align: center;
  margin-bottom: 28px
}
#materialFinishing .wrapper .finishing .item .adaptHeightInner {
  padding-top: 60%
}
#materialFinishing .wrapper .finishing .item .image {
  width: 100%;
  height: 100%
}
#materialFinishing .wrapper .finishing .item h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .2em;
  margin-top: 16px
}
#materialProjects {
  margin-top: 90px;
  padding-bottom: 120px
}
#materialProjects .wrapper {
  position: relative
}
#materialProjects .navigation {
  position: absolute;
  right: 0;
  top: 0;
  width: 152px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#materialProjects .navigation .next,
#materialProjects .navigation .prev {
  border: 2px solid #000;
  height: 100%;
  width: calc(100% - 1px);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#materialProjects .navigation .next {
  margin-left: -2px
}
#materialProjects .title {
  margin-bottom: 70px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#materialProjects .title h2 {
  font-family: EuclidSquare-Regular;
  letter-spacing: .2em
}
#materialProjects .sliderContainer {
  width: 100%;
  overflow: hidden
}
#materialProjects .sliderContainer .item {
  border: 1px solid #000
}
#materialProjects .sliderContainer .item .adaptHeightInner {
  padding-top: 70%
}
#materialProjects .sliderContainer .item .image {
  width: 100%;
  height: 100%
}
#materialProjects .sliderContainer .item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px
}
#materialProjects .sliderContainer .item .text .leftSide h3 {
  font-size: 20px;
  line-height: 25px
}
#materialProjects .sliderContainer .item .text ul li {
  font: 16px/20px EuclidSquare-Bold
}
#materialProjects .sliderContainer .item .text ul li:not(:last-child) {
  margin-bottom: 4px
}
#useTitle {
  padding-bottom: 50px
}
#usePage {
  margin-bottom: 120px
}
#usePage .leftCol .sideTitle {
  top: 100px!important
}
#usePage .usePage {
  padding: 80px 0 10px 9.5%;
  position: relative
}
#usePage .usePage::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: -300%;
  background: #e2e2e2;
  z-index: -1
}
#usePage .usePage .title h2 {
  letter-spacing: .1em
}
#usePage .usePage .title p {
  margin-top: 40px;
  font-size: 14px;
  line-height: 18px
}
#usePage .usePage .items {
  margin-top: 95px
}
#usePage .usePage .items .row {
  margin: 0 -60px
}
#usePage .usePage .items .col {
  padding: 0 60px
}
#usePage .usePage .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 90px;
  text-align: center
}
#usePage .usePage .items .item .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto
}
#usePage .usePage .items .item h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: .15em;
  max-width: 200px;
  margin: 35px auto 0
}
#specificationTitle {
  padding-bottom: 105px
}
#specification {
  margin-bottom: 100px
}
#specification .leftCol .sideTitle {
  top: 90px!important
}
#specification .specification table {
  width: 100%
}
#specification .specification table h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: .15em
}
#specification .specification table img {
  max-width: 80px;
  max-height: 100px
}
#specification .specification table tr {
  border-bottom: 1px solid rgba(0,0,0,.5)
}
#specification .specification table tr td,
#specification .specification table tr th {
  width: 25%;
  text-align: center;
  height: 120px;
  padding: 15px 35px
}
#warrantyTitle {
  padding-bottom: 105px
}
#warrantyTitle .title .description p {
  max-width: 600px
}
#warranty {
  margin-bottom: 100px
}
#warranty .warranty {
  padding: 40px 0 100px 10%;
  position: relative
}
#warranty .warranty::before {
  content: '';
  position: absolute;
  left: 0;
  right: -200%;
  top: 0;
  bottom: 0;
  background: #e2e2e2;
  z-index: -1
}
#warranty .warranty h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .1em;
  margin-top: 60px
}
#warranty .warranty p {
  margin-top: 30px
}
#warranty .warranty ul li {
  margin-top: 30px
}
#warranty .warranty > ul > li {
  position: relative;
  padding-left: 120px
}
#warranty .warranty > ul > li::before {
  content: '';
  width: 80px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 9px
}
#contactsPage {
  margin-top: 205px
}
#contactsPage .title {
  margin-bottom: 120px
}
#contactsPage .title h1 {
  font: 26px/33px EuclidSquare-Bold;
  letter-spacing: .3em;
  text-transform: uppercase
}
#contactsPage .text .item {
  max-width: 380px
}
#contactsPage .text .item:not(:last-child) {
  margin-bottom: 80px
}
#contactsPage .text .item h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: .05em;
  margin-bottom: 40px
}
#contactsPage .text .item strong {
  font-family: EuclidSquare-SemiBold
}
#contactsPage .text .item a:not(:last-child),
#contactsPage .text .item p:not(:last-child) {
  margin-bottom: 25px
}
#contactsPage .text .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
#contactsPage .text .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#contactsPage .text .social a:not(:last-child) {
  margin-right: 115px
}
#contactsPage .text .social a svg {
  margin-right: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
#contactsPage .adaptHeightInner {
  padding-top: 75.5%
}
#contactsPage .adaptHeightInner #map {
  height: 100%;
  width: 100%
}
#academyTitle {
  padding-bottom: 100px
}
#academyTitle .title h1 {
  max-width: 360px
}
#academy {
  margin-bottom: 60px
}
#academy .academy {
  padding: 100px 0 100px 10%;
  position: relative
}
#academy .academy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -300%;
  background: #e2e2e2;
  z-index: -1
}
#academy .academy > .item {
  border-bottom: 1px solid rgba(0,0,0,.5)
}
#academy .academy > .item:first-child {
  border-top: 1px solid rgba(0,0,0,.5)
}
#academy .academy > .item.active .title .close .closed {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
#academy .academy > .item.video .title .leftSide .icon .doc {
  opacity: 0
}
#academy .academy > .item.video .title .leftSide .icon .video {
  opacity: 1
}
#academy .academy > .item.video .content .row {
  margin: 0 -5px
}
#academy .academy > .item.video .content .col {
  padding: 0 5px
}
#academy .academy > .item.video .content .adaptHeightInner {
  padding-top: 57%
}
#academy .academy > .item.video .content .item {
  width: 100%;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px
}
#academy .academy > .item.video .content .item .image {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000
}
#academy .academy > .item.video .content .item .image .play {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content
}
#academy .academy > .item.video .content .item h3 {
  font: 14px/18px EuclidSquare-Regular;
  margin-top: 15px
}
#academy .academy > .item.doc .title .leftSide .icon .doc {
  opacity: 1
}
#academy .academy > .item.doc .title .leftSide .icon .video {
  opacity: 0
}
#academy .academy > .item.doc .content {
  padding-left: 7%;
  padding-right: 12%
}
#academy .academy > .item.doc .content .item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#academy .academy > .item.doc .content .item.pdf .leftSide .icon .pdf {
  opacity: 1
}
#academy .academy > .item.doc .content .item.zip .leftSide .icon .zip {
  opacity: 1
}
#academy .academy > .item.doc .content .item .leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 80%
}
#academy .academy > .item.doc .content .item .leftSide .icon {
  width: 18px;
  height: 25px;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 30px
}
#academy .academy > .item.doc .content .item .leftSide .icon .fIcon {
  opacity: 0
}
#academy .academy > .item.doc .content .item .leftSide h3 {
  font: 14px/18px EuclidSquare-Regular;
  text-decoration: underline
}
#academy .academy > .item.doc .content .item .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#academy .academy > .item.doc .content .item .rightSide .size {
  font-size: 14px;
  line-height: 18px;
  margin-right: 20px;
  text-transform: uppercase
}
#academy .academy > .item.doc .content .item .rightSide .icon {
  width: 12px;
  height: 12px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative
}
#academy .academy > .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 60px 0;
  cursor: pointer
}
#academy .academy > .item .title .leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.3%
}
#academy .academy > .item .title .leftSide .icon {
  width: 26px;
  height: 26px;
  background: #796a63;
  position: relative;
  margin-right: 34px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
#academy .academy > .item .title .leftSide .icon .ic {
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s
}
#academy .academy > .item .title .leftSide .icon .ic svg {
  margin: auto
}
#academy .academy > .item .title .leftSide h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .1em
}
#academy .academy > .item .title .rightSide {
  padding-top: 4px;
  max-width: 60%
}
#academy .academy > .item .title .rightSide p {
  font-size: 14px;
  line-height: 18px
}
#academy .academy > .item .title .close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
  width: 33px;
  height: 33px
}
#academy .academy > .item .title .close .cBtn {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
#academy .academy > .item .title .close .cBtn svg {
  margin: auto
}
#academy .academy > .item .title .close .closed {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0)
}
#academy .academy > .item .content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s
}
#academy .academy > .item .content::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 20px
}
#faqTitle {
  padding-bottom: 108px
}
#faqTitle .title .description .feedbackBtn {
  text-decoration: underline;
  cursor: pointer
}
#faq {
  padding-bottom: 100px
}
#faq .faq {
  position: relative;
  padding: 100px 0 100px 10%
}
#faq .faq::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -300%;
  background: #e2e2e2;
  z-index: -1
}
#faq .faq > .item {
  border-bottom: 1px solid rgba(0,0,0,.5)
}
#faq .faq > .item:first-child {
  border-top: 1px solid rgba(0,0,0,.5)
}
#faq .faq > .item.active .title .close .closed {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
#faq .faq > .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 40px 40px 0;
  cursor: pointer
}
#faq .faq > .item .title h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .1em
}
#faq .faq > .item .title .close {
  position: relative;
  width: 33px;
  height: 33px
}
#faq .faq > .item .title .close .cBtn {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
#faq .faq > .item .title .close .cBtn svg {
  margin: auto
}
#faq .faq > .item .title .close .closed {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0)
}
#faq .faq > .item .content {
  padding-right: 20%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s
}
#faq .faq > .item .content::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 40px
}
#projectsTitle {
  padding-bottom: 90px
}
#projectsTitle .title .description .filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -10px
}
#projectsTitle .title .description .filter .item {
  width: calc(25% - 15px)
}
#projectsTitle .title .description .filter .item button {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font: 14px/18px EuclidSquare-Regular
}
#projectsPage {
  padding-bottom: 30px
}
#projectsPage .leftCol .sideTitle {
  top: 150px!important
}
#projectsPage .projects .row {
  margin: 0 -5px
}
#projectsPage .projects .col {
  padding: 0 5px
}
#projectsPage .projects .adaptHeightInner {
  padding-top: 73%
}
#projectsPage .projects .item {
  border: 1px solid #000;
  margin-bottom: 50px
}
#projectsPage .projects .item .image {
  width: 100%;
  height: 100%
}
#projectsPage .projects .item .text {
  padding: 20px
}
#projectsPage .projects .item .text .upperSide {
  width: 100%
}
#projectsPage .projects .item .text .upperSide h3 {
  font-size: 20px;
  line-height: 25px
}
#projectsPage .projects .item .text .lowerSide {
  width: 100%;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
#projectsPage .projects .item .text .lowerSide ul li {
  font-family: EuclidSquare-Bold
}
#projectsPage .projects .item .text .lowerSide ul li:not(:last-child) {
  margin-bottom: 4px
}
#projectTitle {
  padding-bottom: 90px
}
#projectTitle .characteristics {
  margin-top: 70px
}
#projectTitle .characteristics h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: .1em;
  margin-bottom: 40px
}
#projectTitle .characteristics ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#projectTitle .characteristics ul li::before {
  content: '';
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 70px;
  height: 2px;
  background: #000;
  margin-right: 30px
}
#projectTitle .characteristics ul li:not(:last-child) {
  margin-bottom: 10px
}
#project {
  padding-bottom: 100px
}
#project .leftCol .sideTitle {
  top: 110px!important
}
#project .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
#project .project .leftSide {
  width: 30%
}
#project .project .leftSide .item {
  width: 100%
}
#project .project .leftSide .item:not(:last-child) {
  margin-bottom: 50px
}
#project .project .leftSide .item img {
  width: 100%
}
#project .project .rightSide {
  width: 60%
}
#project .project .rightSide .adaptHeightInner {
  padding-top: 64%
}
#project .project .rightSide .sliderContainer {
  position: relative
}
#project .project .rightSide .sliderContainer .next,
#project .project .rightSide .sliderContainer .prev {
  position: absolute;
  height: 30px;
  width: 71px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
#project .project .rightSide .sliderContainer .prev {
  left: -35px
}
#project .project .rightSide .sliderContainer .next {
  right: -35px
}
#project .project .rightSide .projectSlider {
  overflow: hidden
}
#project .project .rightSide .image {
  width: 100%;
  height: 100%
}
#project .project .rightSide .text {
  padding-top: 50px
}
#project .project .rightSide .text h3 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .1em
}
#project .project .rightSide .text p {
  margin-top: 40px
}
#prefooter {
  margin-bottom: 100px
}
#prefooter .items .row {
  margin: 0 -30px
}
#prefooter .items .col {
  padding: 0 30px
}
#prefooter .items .item .adaptHeightInner {
  padding-top: 82%
}
#prefooter .items .item .image {
  width: 100%;
  height: 100%
}
#prefooter .items .item h4 {
  font: 20px/25px EuclidSquare-Bold;
  margin-top: 20px
}
footer {
  padding: 50px 0
}
footer .wrapper {
  padding: 0 8.3% 0 3.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
footer .wrapper .logo {
  opacity: .6
}
footer .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
footer .wrapper nav ul li:not(:last-child) {
  margin-right: 90px
}
footer .wrapper nav ul li a {
  position: relative;
  padding: 6px 0
}
footer .wrapper nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #796a63
}