@media screen and (max-width:768px) {
  body {
    font-size: 14px;
    line-height: 18px
  }
  h2 {
    font-size: 22px;
    line-height: 28px
  }
  .isMobile {
    display: block
  }
  .container {
    padding-left: 10px;
    padding-right: 10px
  }
  header > .container .wrapper {
    padding: 15px 0
  }
  header .logo img {
    width: 144px
  }
  header .contacts {
    margin-right: 9vw
  }
  header .contacts #feedbackBtn {
    display: none
  }
  header .contacts .phone {
    margin-right: 0
  }
  header .contacts .phone a {
    font-size: 12px;
    line-height: 15px
  }
  header #menuButton {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1
  }
  header #menuButton svg {
    width: 100%;
    height: 100%
  }
  header #menuButton .menuBtn .icon {
    width: 100%;
    height: 100%
  }
  header #menuButton .menuBtn p {
    display: none
  }
  .topMenu {
    z-index: 1
  }
  #menu {
    overflow-y: scroll
  }
  #menu .wrapper {
    padding: 35px 25px 75px
  }
  #menu .upperSide {
    margin-bottom: 120px
  }
  #menu .upperSide #feedbackBtn {
    margin-bottom: 50px
  }
  #menu .upperSide nav ul li:not(:last-child) {
    margin-bottom: 45px
  }
  #menu .upperSide nav ul li a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .1em
  }
  #menu .lowerSide nav ul li:not(:last-child) {
    margin-right: 70px
  }
  #menu .lowerSide nav ul li a {
    font-size: 16px;
    line-height: 20px
  }
  #feedback .wrapper {
    padding: 55px 25px 80px
  }
  #feedback .wrapper .title {
    margin-bottom: 40px
  }
  #feedback .wrapper .title h3 {
    margin-bottom: 30px
  }
  #feedback .wrapper form > .formGroup {
    height: 40px
  }
  #feedback .wrapper form .upperSide {
    display: block;
    margin-bottom: 10px
  }
  #feedback .wrapper form .upperSide .formGroup {
    width: 100%
  }
  #feedback .wrapper form .upperSide .formGroup:not(:last-child) {
    margin-bottom: 10px
  }
  #feedback .wrapper form .lowerSide {
    margin-top: 50px;
    display: block
  }
  #feedback .wrapper form .lowerSide p {
    margin-left: 0;
    margin-top: 40px
  }
  #title {
    margin-top: 60px
  }
  #title .contentCol .titleHeight {
    padding-top: calc(100vh - 60px)
  }
  #title .contentCol .wrapper .image {
    right: -93vw
  }
  #title .contentCol .wrapper .title h1 {
    font-size: 14px;
    margin-bottom: 60px
  }
  #title .contentCol .wrapper .title > p {
    font-size: 18px
  }
  #title .contentCol .wrapper .title > p strong {
    font-size: 20px
  }
  .showreelButton {
    margin-top: 60px;
    width: 234px;
    height: 89px
  }
  .showreelButton p {
    margin-right: 35px
  }
  #title .leftCol .social {
    left: -10px;
    bottom: 216px
  }
  #title .leftCol .social .item {
    font-size: 12px;
    line-height: 15px;
    padding: 0
  }
  #advantages {
    margin-top: 60px;
    padding-bottom: 45px
  }
  #advantages::before {
    top: -190px
  }
  #advantages .title {
    padding-left: 0;
    margin-bottom: 30px
  }
  #advantages .advantages .item {
    padding-top: 100%
  }
  #advantages .advantages .item .text {
    bottom: 0;
    height: auto;
    top: 0;
    bottom: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  #advantages .advantages .item .mask,
  #advantages .advantages .item .text p {
    display: none
  }
  #advantages .advantages .item .text h3 {
    font-size: 1em;
    line-height: 20px;
    letter-spacing: normal;
    top: 0;
    left: 0;
    right: 0;
    position: relative
  }
  #projects {
    margin-top: 60px;
    padding-bottom: 105px
  }
  #projects .sliderContainer {
    margin-right: -10px;
    width: auto
  }
  #projects .sliderContainer .projectsSlider {
    overflow: hidden
  }
  #projects .sliderContainer .item {
    height: 61vw;
    display: block
  }
  #projects .sliderContainer .swiper-slide {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
  #projects .sliderContainer .swiper-slide .item img {
    width: 100%;
    height: 100%
  }
  #projects .sliderContainer .swiper-slide-next,
  #projects .sliderContainer .swiper-slide-prev {
    opacity: 1
  }
  #projects .titleContainer {
    display: block;
    margin-bottom: 40px
  }
  #projects .titleContainer .title {
    margin-bottom: 20px
  }
  #projects .titleContainer .projectsTitleSlider {
    margin-left: 0
  }
  #projects .titleContainer .projectsTitleSlider .item {
    display: block
  }
  #projects .titleContainer .projectsTitleSlider .item .name {
    display: block;
    max-width: none;
    width: 100%
  }
  #projects .titleContainer .projectsTitleSlider .item .name::after {
    content: none
  }
  #projects .titleContainer .projectsTitleSlider .item .material {
    margin: 30px 0 0;
    padding: 0;
    max-width: none
  }
  #projects .titleContainer .projectsTitleSlider .item .material h3 {
    font: 14px/18px EuclidSquare-Regular
  }
  #projects .sliderContainer .navigation {
    left: 0;
    top: auto;
    bottom: -105px
  }
  #use {
    margin-top: 60px
  }
  #use .title {
    display: block;
    margin-bottom: 50px
  }
  #use .title h2 {
    margin-right: 0;
    margin-bottom: 30px
  }
  #use .title .description a {
    margin-top: 25px;
    font-size: 16px;
    line-height: 20px
  }
  #use .use {
    padding: 50px 0
  }
  #use .use::before {
    left: -200%
  }
  #use .use .adaptHeightInner {
    padding-top: 100%
  }
  #use .use .item h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal
  }
  #collections {
    margin-top: 60px
  }
  #collections .collections {
    margin-right: -10px;
    width: auto
  }
  #collections .title {
    margin-bottom: 40px
  }
  #collections .collections .adaptHeightInner {
    padding-top: 50%
  }
  #collections .collections .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1px;
    border-bottom: 1px solid #fff
  }
  #collections .collections .item .text {
    padding: 0 30px
  }
  #collections .collections .item .text h3 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 40px
  }
  #contacts {
    margin-top: 59px
  }
  #contacts .title {
    margin-bottom: 40px
  }
  #contacts .contacts {
    padding: 50px 0 0;
    width: auto;
    margin-right: -10px
  }
  #contacts .contacts::before {
    left: -200%
  }
  #contacts .contacts .upperSide {
    padding-right: 10px;
    padding-bottom: 40px
  }
  #contacts .contacts .upperSide .rowItem:not(:last-child) {
    margin-bottom: 60px
  }
  #contacts .contacts .upperSide .rowItem h3 {
    margin-bottom: 20px
  }
  #contacts .contacts .upperSide .rowItem .item {
    max-width: 98%;
    margin-bottom: 20px
  }
  #contacts .contacts .upperSide .rowItem .item a,
  #contacts .contacts .upperSide .rowItem .item p {
    font-size: 16px;
    line-height: 20px
  }
  #contacts .contacts .upperSide .rowItem .col:not(:first-child) .item {
    padding-left: 0
  }
  #contacts .contacts .footer {
    padding: 30px 10px 60px 0;
    display: block
  }
  #contacts .contacts .footer .copyright {
    display: none
  }
  #contacts .contacts .footer nav ul {
    display: block
  }
  #contacts .contacts .footer nav ul li a {
    font-size: 16px;
    line-height: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
  }
  #contacts .contacts .footer nav ul li:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0
  }
  .secTitle {
    padding: 130px 0 70px
  }
  .secTitle .title {
    display: block;
    padding-right: 11px
  }
  .secTitle .title h1 {
    font-size: 22px;
    line-height: 28px
  }
  .secTitle .title .description {
    width: 100%;
    margin-top: 45px
  }
  .secTitle .title .description p:not(:last-child) {
    margin-bottom: 30px
  }
  .secTitle .bgImage {
    top: 60px;
    right: 0
  }
  .secTitle .bgImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  #materials {
    margin-bottom: 50px
  }
  #materials .materials {
    padding: 0
  }
  #materials .materials::before {
    content: none
  }
  #materials .materials .item .image,
  #materials .materials .item .text {
    width: auto
  }
  #materials .materials .item:not(:last-child) {
    margin-bottom: 0
  }
  #materials .materials .item {
    display: block;
    -webkit-filter: none;
    filter: none;
    padding-right: 10px;
    position: relative
  }
  #materials .materials .item .image {
    position: absolute;
    left: calc(-9% - 10px);
    right: -10px;
    top: 0;
    bottom: 0
  }
  #materials .materials .item .image .adaptHeightInner {
    padding-top: 0;
    height: 100%
  }
  #materials .materials .item .text {
    padding: 35px 0 55px;
    position: relative;
    z-index: 1
  }
  #materials .materials .item .text .title::after {
    width: 100%
  }
  #materials .materials .item .text .title {
    margin-bottom: 30px
  }
  #materials .materials .item .text .features {
    margin-bottom: 20px
  }
  #materials .materials .item .text .features ul li {
    letter-spacing: .1em
  }
  #materialTitle {
    padding: 130px 0 55px
  }
  #materialTitle .title h1::after {
    content: none
  }
  #materialTitle .title h1 {
    max-width: none;
    margin-right: 0
  }
  #materialColors {
    margin-top: 40px
  }
  #materialColors .colors .row {
    margin: 0 -5px
  }
  #materialColors .colors .col {
    padding: 0 5px
  }
  #materialColors .colors .adaptHeightInner {
    padding-top: 100%
  }
  #materialColors .colors .item {
    margin-bottom: 20px
  }
  #materialColors .colors .item h3 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px
  }
  #materialFinishing {
    margin-top: 50px
  }
  #materialFinishing .wrapper::before {
    left: -10px;
    right: -10px
  }
  #materialFinishing .wrapper {
    padding: 50px 0 20px
  }
  #materialFinishing .wrapper .title {
    margin-bottom: 30px
  }
  #materialFinishing .wrapper .finishing {
    margin-top: 30px
  }
  #materialFinishing .wrapper .finishing .row {
    margin: 0 -5px
  }
  #materialFinishing .wrapper .finishing .col {
    padding: 0 5px
  }
  #materialFinishing .wrapper .finishing .item {
    margin-bottom: 20px
  }
  #materialFinishing .wrapper .finishing .item .adaptHeightInner {
    padding-top: 58%
  }
  #materialFinishing .wrapper .finishing .item h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px
  }
  #materialProjects {
    margin-top: 70px;
    padding-bottom: 200px
  }
  #materialProjects .title {
    height: auto;
    margin-bottom: 40px;
    display: block
  }
  #materialProjects .title h2 {
    font-family: EuclidSquare-Bold
  }
  #materialProjects .sliderContainer .item .text {
    display: block;
    padding: 5px
  }
  #materialProjects .sliderContainer .item .text .leftSide {
    margin-bottom: 10px
  }
  #materialProjects .sliderContainer .item .text .leftSide h3 {
    font-size: 16px;
    line-height: 20px
  }
  #materialProjects .sliderContainer .item .text ul li {
    font-size: 14px;
    line-height: 18px
  }
  #materialProjects .navigation {
    right: auto;
    top: auto;
    left: 0;
    bottom: -105px
  }
  #prefooter .items .row {
    margin: 0 -5px
  }
  #prefooter .items .col {
    padding: 0 5px
  }
  #prefooter .items .item h4 {
    margin-top: 9px;
    font-size: 12px;
    line-height: 15px
  }
  footer {
    padding: 50px 0 60px;
    background: #e2e2e2
  }
  footer .wrapper {
    padding: 0 0 0 8.33333333%;
    display: block
  }
  footer .wrapper .logo {
    padding-bottom: 45px;
    position: relative;
    opacity: 1
  }
  footer .wrapper .logo::after {
    content: '';
    background: #796a63;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -10px;
    height: 1px
  }
  footer .wrapper .logo img {
    opacity: .6
  }
  footer .wrapper nav ul {
    display: block;
    margin-top: 30px
  }
  footer .wrapper nav ul li a {
    font-size: 16px;
    line-height: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
  }
  footer .wrapper nav ul li:not(:last-child) {
    margin: 0 0 20px
  }
}
@media screen and (max-width:320px) {
  header .contacts {
    margin-right: 2vw
  }
  #manu {
    height: 100vh
  }
  #menu .wrapper {
    padding-left: 20px;
    padding-right: 20px
  }
  #menu .upperSide #feedbackBtn {
    margin-bottom: 15vw
  }
  #menu .upperSide nav ul li:not(:last-child) {
    margin-bottom: 10vw
  }
  #feedback {
    height: 100vh;
    overflow-y: scroll
  }
  #feedback .wrapper .title h3 {
    letter-spacing: .2em
  }
  #feedback .wrapper .title {
    margin-bottom: 3vw
  }
  #feedback .wrapper form .lowerSide p {
    margin-top: 10vw
  }
  #feedback .wrapper form .lowerSide a {
    display: inline
  }
  #use .use .item h3 {
    font-size: 1em
  }
}