@media screen and (max-width:768px) {
  body {
    font-size: 14px;
    line-height: 18px
  }
  h2 {
    font-size: 22px;
    line-height: 28px
  }
  select {
    height: 46px
  }
  .isMobile {
    display: block
  }
  .container {
    padding-left: 10px;
    padding-right: 10px
  }
  .sideTitle p::after {
    height: 2px
  }
  header > .container .wrapper {
    padding: 15px 0
  }
  header .logo img {
    width: 144px
  }
  header .contacts {
    margin-right: 9vw
  }
  header .contacts #feedbackBtn {
    display: none
  }
  header .contacts .phone {
    margin-right: 0
  }
  header .contacts .phone a {
    font-size: 12px;
    line-height: 15px
  }
  header #menuButton {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1
  }
  header #menuButton svg {
    width: 100%;
    height: 100%
  }
  header #menuButton .menuBtn .icon {
    width: 100%;
    height: 100%
  }
  header #menuButton .menuBtn p {
    display: none
  }
  .topMenu {
    z-index: 1
  }
  #menu {
    overflow-y: scroll
  }
  #menu .wrapper {
    padding: 35px 25px 75px
  }
  #menu .upperSide {
    margin-bottom: 120px
  }
  #menu .upperSide .feedbackBtn {
    margin-bottom: 50px
  }
  #menu .upperSide nav ul li:not(:last-child) {
    margin-bottom: 45px
  }
  #menu .upperSide nav ul li a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .1em
  }
  #menu .lowerSide nav ul li:not(:last-child) {
    margin-right: 70px
  }
  #menu .lowerSide nav ul li a {
    font-size: 16px;
    line-height: 20px
  }
  #feedback .wrapper {
    padding: 55px 25px 80px
  }
  #feedback .wrapper .title {
    margin-bottom: 40px
  }
  #feedback .wrapper .title h3 {
    margin-bottom: 30px
  }
  #feedback .wrapper form > .formGroup {
    height: 40px
  }
  #feedback .wrapper form .upperSide {
    display: block;
    margin-bottom: 10px
  }
  #feedback .wrapper form .upperSide .formGroup {
    width: 100%
  }
  #feedback .wrapper form .upperSide .formGroup:not(:last-child) {
    margin-bottom: 10px
  }
  #feedback .wrapper form .lowerSide {
    margin-top: 50px;
    display: block
  }
  #feedback .wrapper form .lowerSide p {
    margin-left: 0;
    margin-top: 40px
  }
  #title {
    margin-top: 60px
  }
  #title .contentCol .titleHeight {
    padding-top: calc(100vh - 60px)
  }
  #title .contentCol .wrapper .image {
    right: -93vw
  }
  #title .contentCol .wrapper .title h1 {
    font-size: 14px;
    margin-bottom: 60px
  }
  #title .contentCol .wrapper .title > p {
    font-size: 18px
  }
  #title .contentCol .wrapper .title > p strong {
    font-size: 20px
  }
  .showreelButton {
    margin-top: 60px;
    width: 234px;
    height: 89px
  }
  .showreelButton p {
    margin-right: 35px
  }
  #title .leftCol .social {
    left: -10px;
    bottom: 216px
  }
  #title .leftCol .social .item {
    font-size: 12px;
    line-height: 15px;
    padding: 0
  }
  #advantages {
    margin-top: 60px;
    padding-bottom: 45px
  }
  #advantages::before {
    top: -190px
  }
  #advantages .title {
    padding-left: 0;
    margin-bottom: 30px
  }
  #advantages .advantages .item {
    padding-top: 100%
  }
  #advantages .advantages .item .text {
    bottom: 0;
    height: auto;
    top: 0;
    bottom: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  #advantages .advantages .item .mask,
  #advantages .advantages .item .text p {
    display: none
  }
  #advantages .advantages .item .text h3 {
    font-size: 1em;
    line-height: 20px;
    letter-spacing: normal;
    top: 0;
    left: 0;
    right: 0;
    position: relative
  }
  #projects {
    margin-top: 60px;
    padding-bottom: 105px
  }
  #projects .sliderContainer {
    margin-right: -10px;
    width: auto
  }
  #projects .sliderContainer .projectsSlider {
    overflow: hidden
  }
  #projects .sliderContainer .item {
    height: 61vw;
    display: block
  }
  #projects .sliderContainer .swiper-slide {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
  #projects .sliderContainer .swiper-slide .item img {
    width: 100%;
    height: 100%
  }
  #projects .sliderContainer .swiper-slide-next,
  #projects .sliderContainer .swiper-slide-prev {
    opacity: 1
  }
  #projects .titleContainer {
    display: block;
    margin-bottom: 40px
  }
  #projects .titleContainer .title {
    margin-bottom: 20px
  }
  #projects .titleContainer .projectsTitleSlider {
    margin-left: 0
  }
  #projects .titleContainer .projectsTitleSlider .item {
    display: block
  }
  #projects .titleContainer .projectsTitleSlider .item .name {
    display: block;
    max-width: none;
    width: 100%
  }
  #projects .titleContainer .projectsTitleSlider .item .name::after {
    content: none
  }
  #projects .titleContainer .projectsTitleSlider .item .material {
    margin: 30px 0 0;
    padding: 0;
    max-width: none
  }
  #projects .titleContainer .projectsTitleSlider .item .material h3 {
    font: 14px/18px EuclidSquare-Regular
  }
  #projects .sliderContainer .navigation {
    left: 0;
    top: auto;
    bottom: -105px
  }
  #projectTitle {
    padding-bottom: 60px
  }
  #projectTitle .characteristics {
    margin-top: 50px
  }
  #projectTitle .characteristics .item {
    margin-bottom: 50px
  }
  #projectTitle .characteristics h3 {
    margin-bottom: 30px
  }
  #project .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  #project .project .leftSide,
  #project .project .rightSide {
    width: 100%
  }
  #project .project .leftSide {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 50px
  }
  #project .project .rightSide {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
  #project .project .rightSide .sliderContainer {
    margin-right: -10px;
    margin-left: calc(-9% - 10px);
    width: auto
  }
  #project .project .rightSide .item {
    pointer-events: none
  }
  #project .project .rightSide .sliderContainer .swiper-pagination {
    bottom: -43px
  }
  #project .project .rightSide .sliderContainer .next,
  #project .project .rightSide .sliderContainer .prev {
    top: auto;
    bottom: -46px
  }
  #project .project .rightSide .sliderContainer .prev {
    left: 10px
  }
  #project .project .rightSide .sliderContainer .next {
    right: 10px
  }
  #project .project .rightSide .text {
    padding-top: 50px
  }
  #project .project .rightSide .text h3 {
    margin-bottom: 0
  }
  #project .project .rightSide .text p {
    margin-top: 30px
  }
  #project .project .leftSide .item:not(:first-child) {
    margin-top: 10px
  }
  #project .project .leftSide .item {
    pointer-events: none
  }
  #project .project .leftSide .item:not(:nth-child(-n+3)) {
    display: block
  }
  #use {
    margin-top: 60px
  }
  #use .title {
    display: block;
    margin-bottom: 50px
  }
  #use .title h2 {
    margin-right: 0;
    margin-bottom: 30px
  }
  #use .title .description a {
    margin-top: 25px;
    font-size: 16px;
    line-height: 20px
  }
  #use .use {
    padding: 50px 0
  }
  #use .use::before {
    left: -200%
  }
  #use .use .adaptHeightInner {
    padding-top: 100%
  }
  #use .use .item h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal
  }
  #collections {
    margin-top: 60px
  }
  #collections .collections {
    margin-right: -10px;
    width: auto
  }
  #collections .title {
    margin-bottom: 40px
  }
  #collections .collections .adaptHeightInner {
    padding-top: 50%
  }
  #collections .collections .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1px;
    border-bottom: 1px solid #fff
  }
  #collections .collections .item .text {
    padding: 0 30px
  }
  #collections .collections .item .text h3 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 40px
  }
  #contacts {
    margin-top: 59px
  }
  #contacts .title {
    margin-bottom: 40px
  }
  #contacts .contacts {
    padding: 50px 0 0;
    width: auto;
    margin-right: -10px
  }
  #contacts .contacts::before {
    left: -200%
  }
  #contacts .contacts .upperSide {
    padding-right: 10px;
    padding-bottom: 40px
  }
  #contacts .contacts .upperSide .rowItem:not(:last-child) {
    margin-bottom: 60px
  }
  #contacts .contacts .upperSide .rowItem h3 {
    margin-bottom: 20px
  }
  #contacts .contacts .upperSide .rowItem .item {
    max-width: 98%;
    margin-bottom: 20px
  }
  #contacts .contacts .upperSide .rowItem .item a,
  #contacts .contacts .upperSide .rowItem .item p {
    font-size: 16px;
    line-height: 20px
  }
  #contacts .contacts .upperSide .rowItem .col:not(:first-child) .item {
    padding-left: 0
  }
  #contacts .contacts .footer {
    padding: 30px 10px 60px 0;
    display: block
  }
  #contacts .contacts .footer .copyright {
    display: none
  }
  #contacts .contacts .footer nav ul {
    display: block
  }
  #contacts .contacts .footer nav ul li a {
    font-size: 16px;
    line-height: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
  }
  #contacts .contacts .footer nav ul li:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0
  }
  .secTitle {
    padding: 130px 0 70px
  }
  .secTitle .title {
    display: block;
    padding-right: 11px
  }
  .secTitle .title h1 {
    font-size: 22px;
    line-height: 28px
  }
  .secTitle .title .description {
    width: 100%;
    margin-top: 45px
  }
  .secTitle .title .description p:not(:last-child) {
    margin-bottom: 30px
  }
  .secTitle .bgImage {
    top: 60px;
    right: 0
  }
  .secTitle .bgImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .secTitle .title .description h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px
  }
  .secTitle .title .description a {
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px
  }
  #materials {
    margin-bottom: 50px
  }
  #materials .materials {
    padding: 0
  }
  #materials .materials::before {
    content: none
  }
  #materials .materials .item .image,
  #materials .materials .item .text {
    width: auto
  }
  #materials .materials .item:not(:last-child) {
    margin-bottom: 0
  }
  #materials .materials .item {
    display: block;
    -webkit-filter: none;
    filter: none;
    padding-right: 10px;
    position: relative
  }
  #materials .materials .item .image {
    position: absolute;
    left: calc(-9% - 10px);
    right: -10px;
    top: 0;
    bottom: 0
  }
  #materials .materials .item .image .adaptHeightInner {
    padding-top: 0;
    height: 100%
  }
  #materials .materials .item .text {
    padding: 35px 0 55px;
    position: relative;
    z-index: 1
  }
  #materials .materials .item .text .title::after {
    width: 100%
  }
  #materials .materials .item .text .title {
    margin-bottom: 30px
  }
  #materials .materials .item .text .features {
    margin-bottom: 20px
  }
  #materials .materials .item .text .features ul li {
    letter-spacing: .1em
  }
  #materialTitle {
    padding: 130px 0 55px
  }
  #materialTitle .title h1::after {
    content: none
  }
  #materialTitle .title h1 {
    max-width: none;
    margin-right: 0
  }
  #materialColors {
    margin-top: 40px
  }
  #materialColors .colors .row {
    margin: 0 -5px
  }
  #materialColors .colors .col {
    padding: 0 5px
  }
  #materialColors .colors .adaptHeightInner {
    padding-top: 100%
  }
  #materialColors .colors .item {
    margin-bottom: 20px
  }
  #materialColors .colors .item h3 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px
  }
  #materialFinishing {
    margin-top: 50px
  }
  #materialFinishing .wrapper::before {
    left: -10px;
    right: -10px
  }
  #materialFinishing .wrapper {
    padding: 50px 0 20px
  }
  #materialFinishing .wrapper .title {
    margin-bottom: 30px
  }
  #materialFinishing .wrapper .finishing {
    margin-top: 30px
  }
  #materialFinishing .wrapper .finishing .row {
    margin: 0 -5px
  }
  #materialFinishing .wrapper .finishing .col {
    padding: 0 5px
  }
  #materialFinishing .wrapper .finishing .item {
    margin-bottom: 20px
  }
  #materialFinishing .wrapper .finishing .item .adaptHeightInner {
    padding-top: 58%
  }
  #materialFinishing .wrapper .finishing .item h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px
  }
  #materialProjects {
    margin-top: 70px;
    padding-bottom: 200px
  }
  #materialProjects .title {
    height: auto;
    margin-bottom: 40px;
    display: block
  }
  #materialProjects .title h2 {
    font-family: EuclidSquare-Bold
  }
  #materialProjects .sliderContainer .item .text {
    display: block;
    padding: 5px
  }
  #materialProjects .sliderContainer .item .text .leftSide {
    margin-bottom: 10px
  }
  #materialProjects .sliderContainer .item .text .leftSide h3 {
    font-size: 16px;
    line-height: 20px
  }
  #materialProjects .sliderContainer .item .text ul li {
    font-size: 14px;
    line-height: 18px
  }
  #materialProjects .navigation {
    right: auto;
    top: auto;
    left: 0;
    bottom: -105px
  }
  #useTitle {
    padding-bottom: 60px
  }
  #usePage {
    margin-bottom: 50px
  }
  #usePage .usePage {
    padding: 50px 0 5px
  }
  #usePage .usePage::before {
    left: calc(-9% - 10px);
    right: -10px
  }
  #usePage .usePage .title p {
    margin-top: 30px
  }
  #usePage .usePage .items {
    margin-top: 40px
  }
  #usePage .usePage .items .row {
    margin: 0 -10px
  }
  #usePage .usePage .items .col {
    padding: 0 10px
  }
  #usePage .usePage .items .item h3 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .1em;
    margin-top: 20px
  }
  #usePage .usePage .items .item {
    margin-bottom: 45px
  }
  #aboutTitle::before {
    content: none
  }
  #about .about {
    margin-right: -10px;
    width: auto
  }
  #about .about .image {
    overflow: hidden
  }
  #about .about .image .fitCover {
    width: auto;
    margin-left: -65vw
  }
  #about .adaptHeightInner {
    padding-top: 187%
  }
  #about .about .showreelButton {
    left: 40px;
    bottom: 130px
  }
  #aboutFeatures {
    margin-top: 70px
  }
  #aboutFeatures .imageContainer {
    min-height: auto;
    width: auto;
    margin: 0 -10px;
    padding: 48px 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  #aboutFeatures .imageContainer .text button,
  #aboutFeatures .imageContainer .text p {
    margin-top: 30px
  }
  #aboutFeatures .aboutFeatures {
    margin-top: 70px
  }
  #aboutFeatures .aboutFeatures .features {
    margin-top: 40px
  }
  #aboutFeatures .aboutFeatures h2 {
    letter-spacing: .3em
  }
  #aboutFeatures .aboutFeatures .features .item {
    margin-bottom: 35px
  }
  #aboutFeatures .aboutFeatures .features .item .icon {
    margin-right: 25px
  }
  #aboutFeatures .aboutFeatures .features .item .text h3 {
    font-size: 14px;
    line-height: 18px
  }
  #aboutFeatures .aboutFeatures .features .item .text p {
    margin-top: 10px
  }
  #aboutFormat {
    margin-top: 35px
  }
  #aboutFormat .titleContainer {
    display: block
  }
  #aboutFormat .titleContainer .title {
    padding-right: 0;
    max-width: 300px;
    margin-bottom: 40px
  }
  #aboutFormat .titleContainer .title h2 {
    letter-spacing: .3em
  }
  #aboutFormat .titleContainer .description {
    width: 100%
  }
  #aboutFormat .aboutTable {
    margin-top: 40px
  }
  #aboutFormat .aboutTable .col:not(:last-child) .item {
    border-right: none;
    border-bottom: 1px solid #000
  }
  #aboutFormat .aboutTable .item {
    padding: 20px
  }
  #aboutFormat .aboutTable .item .text h4 {
    margin-bottom: 10px
  }
  #aboutFormat .aboutTable .item .icon {
    margin-right: 8vw;
    width: 48px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  #aboutFormat .aboutTable .item .icon img {
    max-height: 35px
  }
  #aboutFormat .buttonContainer {
    margin-top: 50px;
    width: 100%
  }
  #aboutFormat .buttonContainer .button {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 100%
  }
  #aboutOffer {
    margin-top: 60px;
    padding: 0 0 100px
  }
  #aboutOffer::before {
    left: -255px;
    top: -5px;
    bottom: 129px
  }
  #aboutOffer .title {
    margin-bottom: 82px
  }
  #warranty {
    margin-bottom: 50px
  }
  #warrantyTitle {
    padding-bottom: 70px
  }
  #warranty .warranty {
    padding: 50px 0
  }
  #warranty .warranty::before {
    right: -10px;
    left: calc(-9% - 10px)
  }
  #warranty .warranty h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px
  }
  #warranty .warranty h3:not(:first-child) {
    margin-top: 50px
  }
  #warranty .warranty ul li {
    margin-top: 10px
  }
  #warranty .warranty > ul > li {
    padding-left: 0
  }
  #warranty .warranty > ul > li::before {
    width: 18px;
    left: -30px
  }
  #academyTitle {
    padding-bottom: 70px
  }
  #academy {
    margin-bottom: 50px
  }
  #academy .leftCol .sideTitle {
    left: -10px;
    top: 145px!important
  }
  #academy .academy {
    padding: 50px 0
  }
  #academy .academy::before {
    left: calc(-9% - 10px);
    right: -10px
  }
  #academy .academy > .item .title {
    display: block;
    padding: 40px 0
  }
  #academy .academy > .item .title .leftSide {
    width: 85%
  }
  #academy .academy > .item .title .leftSide h3 {
    font-size: 18px;
    line-height: 23px
  }
  #academy .academy > .item .title .leftSide .icon {
    margin-right: 30px
  }
  #academy .academy > .item .title .rightSide {
    max-width: none;
    padding-top: 30px
  }
  #academy .academy > .item .title .close {
    bottom: auto;
    top: 34px;
    right: 0
  }
  #academy .academy > .item .content::after {
    height: 30px
  }
  #academy .academy > .item.video .content .adaptHeightInner {
    padding-top: 68%
  }
  #academy .academy > .item.video .content .item h3 {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px
  }
  #academy .academy > .item.video .content .item .image .play svg {
    width: 17px;
    height: 17px
  }
  #academy .academy > .item.doc .content {
    padding: 0
  }
  #academy .academy > .item.doc .content .item {
    margin-bottom: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  #academy .academy > .item.doc .content .item .leftSide h3 {
    text-transform: none
  }
  #academy .academy > .item.doc .content .item .leftSide .icon {
    margin-right: 10px
  }
  #academy .academy > .item.doc .content .item .leftSide {
    max-width: 73%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  #academy .academy > .item.doc .content .item .rightSide .size {
    font-size: 12px;
    line-height: 18px;
    margin-right: 5px
  }
  #faqTitle {
    padding-bottom: 70px
  }
  #faq {
    padding-bottom: 50px
  }
  #faq .leftCol .sideTitle {
    left: -10px;
    top: 90px!important
  }
  #faq .faq {
    padding: 50px 0
  }
  #faq .faq::before {
    right: -10px;
    left: calc(-9% - 10px)
  }
  #faq .faq > .item .title {
    padding: 30px 14% 30px 0;
    position: relative
  }
  #faq .faq > .item .title h3 {
    font-size: 18px;
    line-height: 23px
  }
  #faq .faq > .item .title .close {
    position: absolute;
    right: 0;
    top: 24px
  }
  #faq .faq > .item .content {
    padding-right: 0
  }
  #faq .faq > .item .content::after {
    height: 30px
  }
  #contactsPage {
    margin-top: 130px
  }
  #contactsPage .title {
    margin-bottom: 50px
  }
  #contactsPage .title h1 {
    font-size: 22px;
    line-height: 28px
  }
  #contactsPage .text .item {
    max-width: none;
    padding-right: 10px
  }
  #contactsPage .text .item:not(:last-child) {
    margin-bottom: 60px
  }
  #contactsPage .text .item h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px
  }
  #contactsPage .text .item a:not(:last-child),
  #contactsPage .text .item p:not(:last-child) {
    margin-bottom: 20px
  }
  #contactsPage .text .item a,
  #contactsPage .text .item p {
    font-size: 16px;
    line-height: 20px
  }
  #contactsPage .text .social a:not(:last-child) {
    margin-right: 18vw
  }
  #contactsPage .adaptHeightInner {
    padding-top: 153%
  }
  #contactsPage .map {
    margin: 100px -10px 0 calc(-9% - 10px);
    width: auto
  }
  #projectsTitle {
    padding-bottom: 50px
  }
  #projectsTitle .title {
    padding-right: 0
  }
  #projectsTitle .title .description .filter {
    margin-top: 0;
    display: block
  }
  #projectsTitle .title .description .filter .item {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    display: inline-block;
    height: 46px
  }
  #projectsTitle .title .description .filter .item:not(:last-child) {
    float: left
  }
  #projectsTitle .title .description .filter .item:nth-child(1),
  #projectsTitle .title .description .filter .item:nth-child(3) {
    margin-right: 10px
  }
  #projectsPage {
    padding-bottom: 85px
  }
  #projectsPage .projects .adaptHeightInner {
    padding-top: 71%
  }
  #projectsPage .projects .item {
    margin-bottom: 10px
  }
  #projectsPage .projects .item .text {
    padding: 5px
  }
  #projectsPage .projects .item .text .upperSide h3 {
    font-size: 16px;
    line-height: 20px
  }
  #projectsPage .projects .item .text .lowerSide {
    display: block;
    margin-top: 10px
  }
  #specification {
    margin-bottom: 150px
  }
  #specification::after,
  #specification::before {
    content: '';
    background-image: url(../img/scroll-x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px
  }
  #specification::before {
    top: -55px
  }
  #specification::after {
    bottom: -90px
  }
  #specification .specification {
    overflow-x: scroll;
    margin: 0 -10px;
    width: auto
  }
  #specification .specification table {
    width: 470px
  }
  #specification .specification table h3 {
    font-size: 12px;
    line-height: 15px
  }
  #specification .specification table img {
    max-height: 60px;
    max-width: 60px
  }
  #specification .specification table tr td,
  #specification .specification table tr th {
    padding: 15px 5px;
    height: 100px
  }
  #prefooter .items .row {
    margin: 0 -5px
  }
  #prefooter .items .col {
    padding: 0 5px
  }
  #prefooter .items .item h4 {
    margin-top: 9px;
    font-size: 12px;
    line-height: 15px
  }
  footer {
    padding: 50px 0 60px;
    background: #e2e2e2
  }
  footer .wrapper {
    padding: 0 0 0 8.33333333%;
    display: block
  }
  footer .wrapper .logo {
    padding-bottom: 45px;
    position: relative;
    opacity: 1
  }
  footer .wrapper .logo::after {
    content: '';
    background: #796a63;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -10px;
    height: 1px
  }
  footer .wrapper .logo img {
    opacity: .6
  }
  footer .wrapper nav ul {
    display: block;
    margin-top: 30px
  }
  footer .wrapper nav ul li a {
    font-size: 16px;
    line-height: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
  }
  footer .wrapper nav ul li:not(:last-child) {
    margin: 0 0 20px
  }
}
@media screen and (max-width:320px) {
  header .contacts {
    margin-right: 2vw
  }
  #manu {
    height: 100vh
  }
  #menu .wrapper {
    padding-left: 20px;
    padding-right: 20px
  }
  #menu .upperSide #feedbackBtn {
    margin-bottom: 15vw
  }
  #menu .upperSide nav ul li:not(:last-child) {
    margin-bottom: 10vw
  }
  #feedback {
    height: 100vh;
    overflow-y: scroll
  }
  #feedback .wrapper .title h3 {
    letter-spacing: .2em
  }
  #feedback .wrapper .title {
    margin-bottom: 3vw
  }
  #feedback .wrapper form .lowerSide p {
    margin-top: 10vw
  }
  #feedback .wrapper form .lowerSide a {
    display: inline
  }
  #use .use .item h3 {
    font-size: 1em
  }
  #about .about .showreelButton {
    left: 9vw
  }
}